@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #F5F5F5;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.flip {
    transition: transform 1s;
}

.caixaEnd {
    display: none;
    transform: rotateY(180deg);
}

.flip.flipped {
    transform: rotateY(180deg);
}

.flip.flipped .caixaEnd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    opacity: 1;
}

.flip.flipped .caixaFront {
    display: none;
    opacity: 0;
}

button .btnFlipContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.82rem;
    height: 8.5vh;
    box-shadow: 0vh 0.5vh 2vh rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.paginaInicial {
    background-color: blue;
    padding: 20% 0% 20% 0%;
    display: flex;
    background-image: url(/fundos/fundoInicial.png);
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: white;
    font-size: 2.3rem;
    width: 35vw;
}

h4 {
    color: white;
    font-size: 1.2rem; 
}

.img1 {
    height: 21vh;
    width: 19vw;
    background-color: antiquewhite;
    border-radius: 12px;
    object-fit: cover;
}

.img2 {
    height: 21vh;
    width: 10vw;
    background-color: orange;
    border-radius: 12px;
    object-fit: cover;
}

.imgInicial {
    display: flex;
    width: 30vw;
    height: 46vh;
    flex-wrap: wrap;
    justify-content: space-between;

}

#nav {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

#nav a {
    font-size: 0.95rem;
    margin: 20px;
}

#menuBTN {
    display: none;
}

header a:hover {
    text-shadow: 0 0 7px #0b254259;
}

#phiHeader {
    margin-left: 3vw;
}

h2 {
    color: #255FA0;
    font-size: 2.1rem;
}

#sobre {
    margin-top: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1.25rem;
    line-height: 5.1vh;
}

.imgSobre {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin-top: 8vh;
    height: 35vh;
}

.img4 {
    background-color: lightblue;
    width: 16vw;
    height: 28.5vh;
    border-radius: 12px;
    box-shadow: 0vh 1vh 1vh #00000067;
}

.img3 {
    margin-top: 8vh;
    background-color: lightblue;
    width: 15vw;
    height: 26vh;
    border-radius: 12px;
    box-shadow: 0vh 1vh 1vh #00000067;
}

.nome {
    font-size: 0.95rem;
    line-height: 2.7vh;
}

.caixaProf p {
    margin: 1vh 0 2vh 0;
}

.caixaProf {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 26.5vw;
    height: 26vh;
}

.foto {
    width: 7vw;
    height: 7vw;
    border-radius: 50vw;
    margin-right: 1vw;
    margin-left: 1.5vw;
    object-fit: cover;
}

.caixaProf button {
    border: none;
    background-color: #1C3C61;
    font-size: 0.9rem;
    width: 10vw;
    height: 5vh;
    border-radius: 17px;
    color: #F5F5F5;
    margin-top: 1vh;
    cursor: pointer;
    transition: 0.5s;
}

.caixaProf button:hover {
    background-color: #0b2542;
}

.cardProf {
    display: flex;
    width: 58vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 61vh;
    margin-top: 8vh;
}

.infoProfs {
    width: 15vw;
    padding-bottom: 2vh;
}

.caixaEnd p {
    font-size: 1rem;
    margin: 0;
}

.caixaEnd .nome {
    font-size: 1.2rem;
}

.caixaEnd a {
    font-style: italic;
    color: #0b2542;
    color: inherit;
}

#professores {
    margin-top: 12vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#professores .p {
    width: 75vw;
}

.conteudoEquipamentos {
    display: flex;
    justify-content: space-between;  
    width: 80vw;
    height: 85vh;
    align-items: center;
}

.opcoes button {    
    font-size: 1.3rem;
    padding-top: 5vh;
    padding-bottom: 7vh;
    width: 20vw;
    text-align: justify;
    background: none;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: space-around; 
}

.opcoes {
    width: 20vw;
    height: 50vh;
}

#bch {
    border-top: solid 0.4vh #1C3C61;
    border-bottom: solid 0.4vh #1C3C61;
}

#bcp {font-weight: bold; color:#1C3C61; padding-top: 0;}

.infoBCP, .infoBCH, .infoBMF {
    width: 29vw;
    text-align: justify;
}

.infoBCP h2, .infoBCH h2, .infoBMF h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

#equipamentos, #disciplinas {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursos {
    margin-top: 2vh;
}

summary {
    color: #1F1F1F;
    font-size: 1.6rem;
    line-height: 7.5vh;
    font-weight: bold;
    cursor: pointer; 
}

ul summary {
    font-size: 1.2rem;
    font-weight: bold;
}

details ul p, details ul a {
    text-align: justify;
    line-height: 4vh;
    font-size: 1rem;
    width: 50vw;
    margin: 0 0 0 4vw;
}
 
ul {list-style-type: none}

li p {
    
    display: flex;
    
    align-items: center;
    
}


.imgEquipamento, .slidBCP, .slidBCH, .slidBMF {
    width: 25vw;
    height: 67vh;
    border-radius: 10px;
    overflow: hidden;
}

.slides, .slidBCP {
    display: flex;
    width: 300vw;
}

.slidBCH, .slidBMF {
    width: 300vw;
}

.navigation {
    width: 74px;
    position: relative;
    display: flex;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
}

.bar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    border: 2px white solid;
    background-color: white;
    cursor: pointer;
}

.bar:hover {
    background-color: #D9D9D9;
    border: 2px #D9D9D9 solid;
}

input {
    display: none;
}

.slid {
    width: 25vw;
    transition: .5s;
}

.slid img {
    width: 25vw;
    height: 67vh;
}

#radio1:checked ~ .slidBCP .first,  #radio1:checked ~ .slidBMF .first #radio1:checked ~ .slidBCH .first {
    margin-left: 0;
}

#radio2:checked ~ .slidBCP .first, #radio2:checked ~ .slidBMF .first, #radio2:checked ~ .slidBCH .first {
    margin-left: -25vw;
}

#radio3:checked ~ .slidBCP .first, #radio3:checked ~ .slidBMF .first, #radio3:checked ~ .slidBCH .first {
    margin-left: -50vw;
}

footer {
    background-color: #0b2542;
    display: flex;
    align-items: center;
    height: 25vh;
    justify-content:center;
    margin-top: 10vh;
}

.if img, .fabrica img {
    width: 150px;
}

li details summary {
    color: #13355e;
}

@media (max-width: 768px) {

    html {
        font-size: 16px;
    }

    h1 {
        width: auto;
        text-align: center;
    }

    h4 {
        width: 25%;
    }

    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .imgInicial {
        display: none;
    }

    #sobre {
        margin-top: 20%;
    }
    
    .nome {
        line-height: 4vh;
    }

    .caixaEnd p {
        font-size: 1rem;
    }
    
    .caixaEnd .nome {
        font-size: 1.2rem;
    }

    .infoProfs p{
        font-size: 1.2rem;
    }

    .infoProfs {
        width: 100vw;
    }

    .foto {
        width: 15vw;
        height: 15vw;
    }

    .caixaProf button {
        width: 30vw;
        height: 4vh;
    }

    .conteudoEquipamentos {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .container {
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
    }

    h2 {
        max-width: 100%;
    }
    
    .opcoes {
        display: flex;
        width: 100vw;
        justify-content: center;
        justify-content: space-between;
        height: 18vh;
    }

    .opcoes button {
        height: 15vh;
        width: 26.66vw;
        padding: 0 3vw 0 3vw;
    }
    
    .slid, .slid img,.imgEquipamento {
        width: 100vw;
        height: auto;
    }

    .infoBCP, .infoBCH, .infoBMF {
        width: 80%;
    }

    .img1, .img2 {
        display: none;
    }

    .img3, .img4 {
        width: 80%;
    }

    #menuBTN {
        display: block;
        margin-right: 10px;
    }

    #menuBTN ul li {
        cursor: pointer;
        width: 30px;
        height: 3px;
        background-color: #0b2542;
        margin: 3px;
        position: relative;
    }

    #nav {
        visibility: hidden; 
        width: 100%;  
        z-index: 1;
        flex-direction: column; 
        position: absolute; 
        background-color: #F5F5F5;
        right: -4%;
        display: flex;
        align-items: center;
        margin-right: 4%;
    }

    #nav li {
        margin: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        text-align: center;
        width: 100%;
    }

    #menu.active #nav {
        visibility: visible;
        display: flex;
        box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.356);
    }

    #menu.active #menuBTN #hamb2 {
        background: transparent;
    }

    #menu.active #menuBTN #hamb1 {
        transform: rotate(135deg);
        top: 6px;
        transition: .5s;
    }

    #menu.active #menuBTN #hamb3 {
        transform: rotate(-135deg);
        top: -6px;
        transition: .5s;
    }

    #menu #menuBTN #hamb3, #menu #menuBTN #hamb1 {
        transform: rotate(0deg);
        transition: .5s;
    }

    .slidBCH, .slidBCP, .slidBMF, .slidBCH img, .slidBCP img, .slidBMF img {
        height:70vh;
    }

    #radio1:checked ~ .slidBCP .first,  #radio1:checked ~ .slidBMF .first #radio1:checked ~ .slidBCH .first {
        margin-left: 0;
    }
    
    #radio2:checked ~ .slidBCP .first, #radio2:checked ~ .slidBMF .first, #radio2:checked ~ .slidBCH .first {
        margin-left: -60vw;
    }
    
    #radio3:checked ~ .slidBCP .first, #radio3:checked ~ .slidBMF .first, #radio3:checked ~ .slidBCH .first {
        margin-left: -120vw;
    }

    .imgSobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .img3 {
        margin-top: 0vh;
    }

    .caixaProf {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        margin-bottom: 10%;
    }

    .cardProf {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 70%;
        align-items: center;
    }

    #professores {
        margin-top: 20%;
    }

    .imgEquipamento {
        margin-bottom: 20%;
    }

    p {
        width: 80vw;
        text-align: justify;
    }

    .centralizarTexto {
        text-align: center;
        width: 80%
    }

    .infoProfs {
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}