@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #F5F5F5;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    height: 8.5vh;
    box-shadow: 0vh 0.5vh 2vh rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.paginaInicial {
    background-color: blue;
    padding: 20% 0% 20% 0%;
    display: flex;
    background-image: url(/fundos/fundoInicial.png);
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: white;
    font-size: 2.3rem;
    width: 35vw;
}

h4 {
    color: white;
    font-size: 1.2rem; 
}

.img1 {
    height: 21vh;
    width: 19vw;
    background-color: antiquewhite;
    border-radius: 12px;
    object-fit: cover;
}

.img2 {
    height: 21vh;
    width: 10vw;
    background-color: orange;
    border-radius: 12px;
    object-fit: cover;
}

.imgInicial {
    display: flex;
    width: 30vw;
    height: 46vh;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a:hover {
    text-shadow: 0 0 7px #0b254259;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;;
}

.menu1 {
    display: none;
    align-items: center;
    margin-right: 3%;
}

.menu2 {
    display: flex;
    flex-direction: column;
    gap: 23%;
    height: 37%;
    cursor: pointer;
}

@keyframes bar1 {
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(12px) rotate(-45deg);
    }
}

@keyframes bar2 {
    100% {
        transform: rotate(45deg);
    }
}

@keyframes bar3 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bar1Reverse {
    0% {
        transform: translateY(12px) rotate(-45deg);
    }
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bar2Reverse {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes bar3Reverse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#bar1.active {
    animation: bar1 0.5s ease-in-out forwards;
}

#bar2.active {
    animation: bar2 0.5s ease-in-out forwards;
}

#bar3.active {
    animation: bar3 0.01s ease-in-out forwards;
}

#bar1.reverse {
    animation: desaparecimento 0.1s ease-in-out forwards, aparecimento 0.2s ease-in-out forwards, bar1Reverse 0.5s ease-in-out forwards;
}

#bar2.reverse {
    animation: desaparecimento 0.1s ease-in-out forwards, aparecimento 0.2s ease-in-out forwards, bar2Reverse 0.5s ease-in-out forwards;
}

#bar3.reverse {
    animation: bar3Reverse 0.5s ease-in-out forwards;
}

.menuBar {
    width: 10vw;
    height: 5px;
    background-color: black;
}

.nav1 {
    margin-left: 3%;
    display: flex;
    align-items: center;
}

.nav2 {
    width: 27vw;
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.nav2 ul {
    display: flex;
    justify-content: right;
    width: 100%;
}

.nav2 li {
    margin-right: 3%;
}

.nav3 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    margin: 0px;
    padding: 0px;
    border-top: gray 1.5px solid;
    align-content: space-between;
    height: 20vh;
    position: absolute;
    top: 8.5%;
    left: 0;
    width: 100%;
}

.nav3 li {
    border-bottom: gray solid 1px;
    display: inline-block;
    text-align: center;
    margin: 1.5% 0% 1.5% 0%;
}

.nav3 a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

h2 {
    color: #255FA0;
    font-size: 2.1rem;
}

.title h4 {
    width: auto;
    margin: 0;
}

#sobre {
    margin-top: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1.25rem;
    line-height: 5.1vh;
}

.imgSobre {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin-top: 8vh;
    height: 35vh;
}

.img4 {
    background-color: lightblue;
    width: 16vw;
    height: 28.5vh;
    border-radius: 12px;
    box-shadow: 0vh 1vh 1vh #00000067;
}

.img3 {
    margin-top: 8vh;
    background-color: lightblue;
    width: 15vw;
    height: 26vh;
    border-radius: 12px;
    box-shadow: 0vh 1vh 1vh #00000067;
}

.nome, .curriculo, .contato1 {
    text-align: center;
}

.nome {
    font-size: 0.95rem;
    line-height: 2.7vh;
}

.caixaProf p {
    margin: 1vh 0 2vh 0;
}

.caixaProf {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 26.5vw;
    height: 26vh;
    margin-bottom: 10%;
}

.foto {
    width: 7vw;
    height: 7vw;
    border-radius: 50vw;
    margin-right: 1vw;
    margin-left: 1.5vw;
    object-fit: cover;
}

.caixaProf button {
    border: none;
    background-color: #1C3C61;
    font-size: 0.9rem;
    width: 10vw;
    height: 5vh;
    border-radius: 17px;
    color: #F5F5F5;
    margin-top: 1vh;
    cursor: pointer;
    transition: 0.5s;
}

.caixaProf button:hover {
    background-color: #0b2542;
}

.cardProf {
    display: flex;
    width: 58vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: auto;
    margin-top: 8vh;
}

.infoProfs {
    width: 15vw;
    padding-bottom: 2vh;
}

.flip {
    transition: transform 1s;
}

.caixaEnd {
    display: none;
    transform: rotateY(180deg);
    height: 38.5vh;
}

.flip.flipped {
    transform: rotateY(180deg);
}

.flip.flipped .caixaEnd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    opacity: 1;
}

.flip.flipped .caixaFront {
    display: none;
    opacity: 0;
}

button .btnFlipContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.caixaEnd p {
    font-size: 1rem;
    margin: 0;
}

.caixaEnd .nome {
    font-size: 1.2rem;
}

.caixaEnd a {
    font-style: italic;
    color: #0b2542;
    color: inherit;
}


#professores {
    margin-top: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

#professores .p {
    width: 75vw;
}

.conteudoEquipamentos {
    width: 80%;
    display: flex;
    margin-top: 12vh;
}

.opcoes button {    
    font-size: 1.3rem;
    padding-top: 5vh;
    padding-bottom: 7vh;
    text-align: justify;
    background: none;
    border: none;
    border-bottom: solid 0.4vh #1C3C61;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

.slide {
    justify-content: center;
    width: 75%;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

#slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider img {
    height: 100%;
    width: 450px;
    object-fit: cover;
    border-radius: 12px;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.infoBCP.show, .infoBCH.show, .infoBMF.show {
    display: block;
}

.opcoes {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 9%
}

.bancadas-de-circuitos-pneumaticos, .bancada-de-mecanica-dos-fluidos  {
    display: none;
}

#equipamentos, #disciplinas {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursos {
    margin-top: 2vh;
}

summary {
    color: #1F1F1F;
    font-size: 1.6rem;
    line-height: 7.5vh;
    font-weight: bold;
    cursor: pointer; 
}

ul summary {
    font-size: 1.2rem;
    font-weight: bold;
}

details ul p, details ul a {
    text-align: justify;
    line-height: 4vh;
    font-size: 1rem;
    width: 50vw;
    margin: 0 0 0 4vw;
}
 
ul {list-style-type: none}

li p {
    
    display: flex;
    
    align-items: center;
    
}

.bar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    border: 2px white solid;
    background-color: white;
    cursor: pointer;
}

.bar:hover {
    background-color: #D9D9D9;
    border: 2px #D9D9D9 solid;
}

footer {
    background-color: #0b2542;
    display: flex;
    align-items: center;
    height: 25vh;
    justify-content:center;
    width: 100vw;
    margin-top: 10vh;
}

.if img, .fabrica img {
    width: 150px;
}

li details summary {
    color: #13355e;
}

@media (max-width: 1642px) {
    .caixaProf {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        margin-bottom: 10%;
    }

    .caixaFront {
        margin: 0;
    }

    .cardProf {
        width: 100vw;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    h1 {
        width: auto;
        text-align: center;
    }

    h4 {
        width: 25%;
    }

    .nav2 {
        display: none;
    }

    .menu1 {
        display: flex;
    }

    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .imgInicial {
        display: none;
    }

    #sobre {
        margin-top: 20%;
    }
    
    .nome {
        line-height: 4vh;
    }

    .caixaEnd p {
        font-size: 1rem;
    }
    
    .caixaEnd .nome {
        font-size: 1.2rem;
    }

    .infoProfs p{
        font-size: 1.2rem;
    }

    .infoProfs {
        width: 100vw;
    }

    .foto {
        width: 15vw;
        height: 15vw;
    }

    .caixaProf button {
        width: 30vw;
        height: 4vh;
    }

    h2 {
        max-width: 100%;
    }
    
    .conteudoEquipamentos {
        flex-direction: column;
        width: 100vw;
        margin-top: 20%;
    }

    .opcoes {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .opcoes button {
        height: 18vh;
        border: none;
        border-right: solid 0.4vh #1C3C61;
    }

    .slide {
        flex-direction: column-reverse;
        width: 100vw;
        align-items: center;
        margin-top: 20%;
    }

    .slider-container {
        width: 80%;
        margin-top: 20%;
        margin-right: 0;
    }

    .content {
        width: 100vw;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .infoBCP, .infoBCH, .infoBMF {
        width: 80%;
    }

    .img1, .img2 {
        display: none;
    }

    .img3, .img4 {
        width: 80%;
    }

    .imgSobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .img3 {
        margin-top: 0vh;
    }

    .caixaProf {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        margin-bottom: 10%;
    }

    .cardProf {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 70%;
        align-items: center;
    }

    #professores {
        margin-top: 20%;
    }

    p {
        width: 80vw;
        text-align: justify;
    }

    .centralizarTexto {
        text-align: center;
        width: 80%
    }

    .infoProfs {
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}